.friends-page {

  &__title {
    color: var(--ion-color-primary);
    border-bottom: 1px solid var(--ion-color-primary);
    padding-bottom: .5rem;
    margin-bottom: .5rem;
  }

  &__requests {
    margin-top: 1rem;
  }

  &__request {
    display: flex;
    padding: .5rem 0;

    &:not(:last-child) {
      border-bottom: 1px solid var(--gray-lines);
    }

    photo {
      margin-right: 1rem;
    }

    &-data {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &-club {
      color: var(--gray-text);
      display: flex;
      align-items: center;
    }

    &-buttons {
      margin-left: auto;
      display: flex;
      align-items: center;
      font-size: 2rem;
    }

    &-accept {
      color: var(--ion-color-success-shade);
    }
    
    &-reject {
      color: var(--ion-color-danger-shade);
    }
  }

  &__friends {
    margin-top: 1rem;
  }

  &__friend {
    display: flex;
    padding: .5rem 0;

    &:not(:last-child) {
      border-bottom: 1px solid var(--gray-lines);
    }

    photo {
      margin-right: 1rem;
    }

    &-data {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &-name {
      margin-bottom: .25rem;
      white-space: nowrap;
    }

    &-location {
      display: flex;
      align-items: center;
      color: var(--gray-text);
    }
  }

}
