<ion-header>
  <header-menu title="FRIENDS.TITLE"></header-menu>
</ion-header>
<ion-content class="ion-padding">
  <div class="friends-page">
    <ion-searchbar
      [placeholder]="'COMMON.SEARCH_PLACEHOLDER' | translate"
      mode="ios"
    ></ion-searchbar>
    <div class="friends-page__requests">
      <div class="friends-page__title">
        {{ 'FRIENDS.FRIEND_REQUESTS' | translate }}
      </div>
      <div class="friends-page__request" *ngFor="let i of [1,2,3,4]">
        <photo
          photo="https://i.pravatar.cc/300"
          [size]="50"
        ></photo>
        <div class="friends-page__request-data">
          <div class="friends-page__request-name">Moisés Núñez</div>
          <div class="friends-page__request-club">
            <ion-icon name="ios-people"></ion-icon>(Club de los peleles)
          </div>
        </div>
        <div class="friends-page__request-buttons">
            <ion-icon
              name="checkmark-circle"
              class="friends-page__request-accept"
            ></ion-icon>
            <ion-icon
              name="close-circle"
              class="friends-page__request-reject"
            ></ion-icon>
        </div>
      </div>
    </div>
    <div class="friends-page__friends">
      <div class="friends-page__title">
        {{ 'FRIENDS.TITLE' | translate }}
      </div>
      <div class="friends-page__friend" *ngFor="let i of [1,2,3,4]">
        <photo
          photo="https://i.pravatar.cc/300"
          [size]="50"
        ></photo>
        <div class="friends-page__friend-data">
          <div class="friends-page__friend-name">Moisés Núñez (Club los peleles)</div>
          <div class="friends-page__friend-location">
            <ion-icon name="ios-pin"></ion-icon>Huelva, Huelva
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
