<div class="game-card">
  <ng-container *ngIf="skeleton">
    <ion-card *ngFor="let i of [1, 2]">
      <ion-skeleton-text class="game-card__skeleton-photo" animated></ion-skeleton-text>
      <ion-card-header>
        <ion-skeleton-text class="game-card__skeleton-subtitle" animated></ion-skeleton-text>
        <ion-skeleton-text class="game-card__skeleton-title" animated></ion-skeleton-text>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-skeleton-text class="game-card__skeleton-text" animated></ion-skeleton-text>
            </ion-col>
            <ion-col>
              <ion-skeleton-text class="game-card__skeleton-text" animated></ion-skeleton-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-skeleton-text class="game-card__skeleton-text" animated></ion-skeleton-text>
            </ion-col>
            <ion-col>
              <ion-skeleton-text class="game-card__skeleton-text" animated></ion-skeleton-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-skeleton-text class="game-card__skeleton-text" animated></ion-skeleton-text>
            </ion-col>
            <ion-col>
              <ion-skeleton-text class="game-card__skeleton-text" animated></ion-skeleton-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ng-container>
  <ng-container *ngIf="!skeleton">
    <ion-card (click)="goToGame()">
      <img src="https://ballahackairsoft.com/wp-content/uploads/2018/10/Ballahack-Airsoft-Field-MOUT-Town-1024x576.jpg">
      <ion-card-header>
        <ion-card-subtitle>Lepe (Los Barrancos)</ion-card-subtitle>
        <ion-card-title>Milsim Vuelta a casa</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col class="game-card__data">
              <ion-icon name="calendar"></ion-icon>25/09/19 17:00h
            </ion-col>
            <ion-col class="game-card__data">
                <ion-icon name="time"></ion-icon>4 - 5h
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="game-card__data">
                <ion-icon name="information-circle-outline"></ion-icon>Milsim
            </ion-col>
            <ion-col class="game-card__data">
              <ion-icon name="sunny"></ion-icon>Diurna
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="game-card__data">
              <ion-icon name="people"></ion-icon>20/34
            </ion-col>
            <ion-col class="game-card__data">
              <ion-icon name="sunny"></ion-icon>Diurna
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ng-container>
</div>
