.game-card {
  ion-card-header {
    padding-bottom: 0;
  }

  &__data {
    color: var(--ion-color-medium);
    display: flex;
    align-items: center;
    font-size: .9rem;
    padding: 0;

    ion-icon {
      margin-right: .25rem;
    }
  }

  &__skeleton {
    &-photo {
      width: 100%;
      height: 100px;
      margin-top: 0;
      border-radius: 0;
    }

    &-subtitle {
      line-height: 1.25rem;
    }

    &-title {
      line-height: 1.5rem;
      margin-bottom: .5rem;
    }

    &-text {
      margin: 0;
      padding: 0;
    }
  }
}
