ion-content {
  height: 100vh;
}

.main-menu {
  position: relative;
  height: 100vh;
  padding: 4rem 2rem 2rem;
  color: var(--white);
  background: linear-gradient(
    to bottom,
    var(--ion-color-primary),
    var(--ion-color-primary-shade)
  );

  &__item {
    padding: .75rem 0;
    display: flex;
    align-items: center;

    ion-icon {
      margin-right: 1rem;
      font-size: 1.75rem;
    }
  }

  .logout-button {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
  }
}
