<div class="main-menu">
  <div
    class="main-menu__item"
    *ngFor="let section of sections"
    (click)="navigateTo(section)"
  >
    <ion-icon [name]="section.icon"></ion-icon>
    <ion-label>{{ section.label | translate }}</ion-label>
  </div>
  <div
    class="logout-button"
    (click)="logout()"
  >
    {{ 'MAIN_MENU.LOGOUT' | translate }}</div>
</div>
