.profile-page {
  &__avatar {
    margin-bottom: .5rem;
  }

  &__name {
    font-weight: bold;
    font-size: 1.25rem;
  }

  &__username {
    color: var(--ion-color-medium);
    margin-bottom: 1rem;
  }

  &__description {
    margin-bottom: 1rem;
  }
  
  &__data {
    color: var(--ion-color-medium);
    display: flex;
    align-items: center;
    margin-bottom: .25rem;

    ion-icon {
      margin-right: .25rem;
      font-size: 1.25rem;
    }
  }
}
