<ion-header>
  <header-menu title="PROFILE.TITLE"></header-menu>
</ion-header>
<ion-content class="ion-padding">
  <div class="profile-page">
    <div class="profile-page__avatar">
      <photo
        [photo]="photo"
        (photoChange)="updateAvatar($event)"
      ></photo>
    </div>
    <div class="profile-page__name">Moisés Núñez</div>
    <div class="profile-page__username">@nasher</div>
    <div class="profile-page__description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum labore repellat ex eveniet eos magni velit minus voluptatum aut? Architecto quia consequatur at id aliquid sunt non odio! Fuga, ea!</div>
    <div class="profile-page__data">
      <ion-icon name="calendar"></ion-icon>Comenzó a jugar en febrero de 2019
    </div>
    <div class="profile-page__data">
      <ion-icon name="people"></ion-icon>Club los peleles
    </div>
    <ngx-tabset>
      <ngx-tab [tabTitle]="'PROFILE.GAMES' | translate">
        This is content of the games tab
      </ngx-tab>
      <ngx-tab [tabTitle]="'PROFILE.FRIENDS' | translate">
        This is content of the friends tab
      </ngx-tab>
    </ngx-tabset>
  </div>
</ion-content>
