.modal-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.isLoading ion-spinner {
    width: 50px;
    height: 50px;
    margin-top: -33vh;
    margin-bottom: 1rem;
  }

  &__title {
    color: var(--ion-color-primary);
    font-size: 1.5rem;
    margin-bottom: .25rem;
  }

  &__body {
    color: var(--ion-color-medium);
  }
}
