<ion-header *ngIf="header">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">{{ 'COMMON.CLOSE' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="modal-content" [ngClass]="{ isLoading: isLoading }">
    <ion-spinner name="crescent" color="primary" *ngIf="isLoading"></ion-spinner>
    <div class="modal-content__icon" *ngIf="!isLoading">{{ icon }}</div>
    <div class="modal-content__title">{{ title | translate }}</div>
    <div class="modal-content__body">{{ body | translate }}</div>
  </div>
</ion-content>
