.game-page {
  ion-grid {
    margin-bottom: 1rem;
  }

  &__data {
    color: var(--ion-color-medium);
    display: flex;
    align-items: center;
    font-size: .9rem;
    padding: 0;

    ion-icon {
      margin-right: .25rem;
    }
  }

  show-more {
    margin-bottom: 3.5rem;
  }

  &__roles {
    ion-row:first-child {
      ion-col {
        border-bottom: 1px solid var(--ion-color-medium);
      }
    }
    
    ion-col:first-child {
      border-right: 1px solid var(--ion-color-medium);
    }

    ion-col:not(:first-child) {
      text-align: center;
    }

    &-header {
      font-size: .9rem;
      font-weight: bold;
    }
  }

  agm-map {
    width: 100%;
    height: 300px;
  }
}
