<ion-header>
  <!-- TODO: Cambiar por título de la partida -->
  <header-back title="Partida"></header-back>
</ion-header>
<ion-content class="ion-padding">
  <div class="game-page">
    <ion-slides pager="true">
      <ion-slide>
        <img src="https://i.imgur.com/Qcnn734.jpg" imageViewer>
      </ion-slide>
      <ion-slide>
        <img src="https://i.imgur.com/q4iM4yo.jpg" imageViewer>
      </ion-slide>
      <ion-slide>
        <img src="https://i.imgur.com/uSXIPo4.jpg" imageViewer>
      </ion-slide>
    </ion-slides>
    <h1 class="game-page__title">Milsim Vuelta a casa</h1>
    <ion-grid>
      <ion-row>
        <ion-col class="game-page__data">
          <ion-icon name="calendar"></ion-icon>25/09/2019
        </ion-col>
        <ion-col class="game-page__data">
          <ion-icon name="time"></ion-icon>17:00h - 03:00h
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="game-page__data">
          <ion-icon name="information-circle-outline"></ion-icon>Milsim
        </ion-col>
        <ion-col class="game-page__data">
          <ion-icon name="sunny"></ion-icon>Diurna
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="game-page__data">
          <ion-icon name="people"></ion-icon>20/34
        </ion-col>
        <ion-col class="game-page__data">
          <ion-icon name="sunny"></ion-icon>Diurna
        </ion-col>
      </ion-row>
    </ion-grid>
    <h4>Descripción</h4>
    <show-more [minHeight]="90">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur sapiente odio dicta nemo! Molestiae distinctio accusantium veritatis, aliquam aut, ullam modi quam officiis, natus placeat quia nihil numquam ipsum dicta.
      Eaque molestiae tempora unde quo ipsam, nihil nam possimus voluptas vel! Voluptate eos corrupti hic, ad quod alias vitae consectetur, veniam perferendis in sequi dolorum est quibusdam ipsam voluptates saepe.
      Quo sapiente fugit pariatur nulla non accusamus nemo fuga, tempore delectus. Sit nostrum autem, ipsum esse quasi atque error aspernatur nihil iste, praesentium distinctio amet quod ea! Vero, eius beatae.
      Ratione rerum repellat eaque dignissimos, voluptates qui ab nam quas quibusdam? Dolore suscipit, maxime iste cumque dicta eius consequatur explicabo reprehenderit nulla soluta veritatis. Vel veniam dolorem cupiditate voluptatum voluptatem!
    </show-more>
    <h4>Roles</h4>
    <ion-grid class="game-page__roles" fixed="true">
      <ion-row>
        <ion-col></ion-col>
        <ion-col class="game-page__roles-header">Bando A</ion-col>
        <ion-col class="game-page__roles-header">Bando B</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="game-page__roles-header">Sniper</ion-col>
        <ion-col>1/2</ion-col>
        <ion-col>2/2</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="game-page__roles-header">Selecto</ion-col>
        <ion-col>2/4</ion-col>
        <ion-col>3/4</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="game-page__roles-header">Apoyo</ion-col>
        <ion-col>1/2</ion-col>
        <ion-col>0/2</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="game-page__roles-header">Fusilero</ion-col>
        <ion-col>14</ion-col>
        <ion-col>11</ion-col>
      </ion-row>
    </ion-grid>
    <h4>Localización</h4>
    <agm-map [latitude]="37.226904" [longitude]="-7.226084" [zoom]="15">
      <agm-marker [latitude]="37.226904" [longitude]="-7.226084"></agm-marker>
    </agm-map>
  </div>
</ion-content>
