.show-more {
  position: relative;
  margin-bottom: 3.5rem;

  &__wrapper {
    overflow: hidden;
    transition: max-height .25s ease-in-out;
  }

  &__content:not(.active):before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 25px;
    width: 100%;
    background: linear-gradient(to bottom, transparent, white);
  }

  &__toggle {
    position: absolute;
    bottom: -2.5rem;
    right: 0;
  }
}
