<div class="show-more">
  <div class="show-more__wrapper" [ngStyle]="{maxHeight: height + 'px'}">
    <div class="show-more__content" [ngClass]="{active: active}" #content>
      <ng-content></ng-content>
    </div>
  </div>
  <ion-button
    class="show-more__toggle"
    (click)="toggleActive()"
    size="small"
    fill="outline"
  >{{ buttonText | translate }}</ion-button>
</div>
