<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-searchbar
    [placeholder]="'COMMON.SEARCH_PLACEHOLDER' | translate"
    mode="ios"
  ></ion-searchbar>
</ion-toolbar>
