<ion-content class="ion-padding login-background">
  <div class="login-page">
    <div class="login-page__logo">
      <img src="assets/images/logo.png">
    </div>
    <div class="login-page__login-error" *ngIf="loginError">
      <ion-icon name="alert"></ion-icon>{{ loginError | translate }}
    </div>
    <form
      [formGroup]="loginForm"
      (ngSubmit)="doLogin()"
      class="login-page__form"
    >
      <ion-list>
        <ion-item>
          <ion-label position="floating">{{ 'LOGIN_PAGE.EMAIL' | translate }}</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">{{ 'LOGIN_PAGE.PASSWORD' | translate }}</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <ion-item class="login-page__remember-me" lines="none">
          <ion-checkbox formControlName="rememberMe"></ion-checkbox>
          <ion-label>{{ 'LOGIN_PAGE.REMEMBER_ME' | translate }}</ion-label>
        </ion-item>
      </ion-list>
      <ion-button
        type="submit"
        expand="full"
        [disabled]="loginForm.invalid"
      >{{ 'LOGIN_PAGE.DO_LOGIN' | translate }}</ion-button>
    </form>
  </div>
</ion-content>
