.login-background {
  --background: url('/assets/images/login-bg.png') 0 0/100% 100% no-repeat;
}

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__logo {
    width: 120px;
    height: 120px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  &__login-error {
    background: var(--ion-color-danger);
    color: var(--white);
    width: calc(100% - 2rem);
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;

    ion-icon {
      font-size: 20px;
      margin-right: .25rem;
    }
  }

  &__form {
    width: calc(100% - 2rem);
    background: rgba(var(--black-rgb), .5);
    padding: 1rem;

    ion-list {
      background: transparent;
      margin-bottom: 0;
    }

    ion-item {
      margin-bottom: 1rem;
      --background: transparent;
    }

    ion-input,
    ion-label {
      --color: var(--white);
    }
  }
}
