.photo {
  position: relative;
  margin: 2px 0;

  &__image {
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0 0 0 2px red;
  }

  &__edit {
    position: absolute;
    width: 24px;
    height: 24px;
    background: var(--white);
    box-shadow: 0 0 5px var(--black);
    bottom: 0;
    right: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    ion-icon {
      font-size: 1.1rem;
    }
  }
}
