<div class="photo" [ngStyle]="getSize()" (click)="editPhoto()">
  <img class="photo__image" [src]="photo">
  <div class="photo__edit" *ngIf="editable">
    <ion-icon name="camera"></ion-icon>
  </div>
</div>
