<ion-header>
  <main-header></main-header>
</ion-header>
<ion-content class="ion-padding">
  <div class="home-page">
    <ng-container *ngIf="showSkeleton">
      <game-card [skeleton]="true"></game-card>
    </ng-container>
    <ng-container *ngIf="showEmpty">
      <div class="home-page__empty">{{ 'HOME.NO_AVAILABLE_GAMES' | translate }}</div>
    </ng-container>
    <ng-container *ngIf="showGames">
      <game-card *ngFor="let item of games"></game-card>
    </ng-container>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
