/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

$active-tab-color: var(--ion-color-primary);
$default-tab-border: 2px solid transparent;
// ngx-tabset
@import "~ngx-tabset/ngx-tabset";
.nav-tabset {
  border-bottom: 1px solid var(--ion-color-light);

  .nav-tab {
    font-weight: bold;
    color: var(--ion-color-medium);
    position: relative;
    z-index: 10;
    margin-bottom: -1px;

    &.active {
      color: var(--ion-color-primary);
    }
  }

}

// ion-item reset
form {
  ion-item {
    --padding-start: 0;
    --background-activated: transparent;
    --background-focused: transparent;
  }
}

ion-card-title {
  margin-bottom: 4px;
}

// ion-slides
.swiper-container {
  padding-bottom: 18px;

  & > .swiper-pagination-bullets {
    bottom: 0;
  }
}


